<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      /* All Posts Page Styles */
      body {
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        /* height: 60vh; */
        margin: 0;
        background-color: #f0f0f0;
      }
      main {
        padding-top: 10vh;
      }
      .all-posts-container {
        width: 40vw;
        /* height: 60vh; */
        margin: 0 auto;
        padding: 20px;
        background: white;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }

      .all-posts-header {
        margin-bottom: 20px;
      }

      .all-posts-header h2 {
        margin-bottom: 10px;
        font-size: 28px;
        font-weight: 700;
      }

      .posts-list ul {
        list-style-type: none;
        padding: 0;
      }

      .posts-list li {
        margin-bottom: 10px;
      }

      .posts-list a {
        text-decoration: none;
        color: #007bff;
      }

      .posts-list a:hover {
        text-decoration: underline;
      }
    </style>
  </head>

  <body>
    <%- include('../partials/header') %>
    <main>
      <div class="all-posts-container">
        <div class="all-posts-header">
          <h2>Posts by <%=user.username %></h2>
        </div>
        <div class="posts-list">
          <% if (posts.length > 0) { %>
          <ul>
            <% posts.forEach(function(post) { %>
            <li>
              <a href="/post/<%= post.dataValues.postID %>"
                ><%= post.dataValues.title %></a
              >
              <p class="post-content">
                <%= post.dataValues.content.substring(0, 200) %>...
              </p>
            </li>
            <% }); %>
          </ul>
          <% } else { %>
          <p>No posts available.</p>
          <% } %>
        </div>
      </div>
    </main>
  </body>
</html>
